pytest>=6.1.0
nbclient>=0.6.6
nbformat>=5.0.8
Pygments>=2.7.3
ipykernel>=5.4.0
pre-commit>=2.8.2
pytest-cov>=2.10.1
pytest-xdist>=2.1.0
virtualenv>=20.1.0
setuptools>=65.0.0
typing-extensions>=4.7.1
ruff>=0.8.4
