name: Pytest
on:
  pull_request:
  push:
    branches:
      - main

jobs:
  pytest:
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-latest
          - windows-latest
          - macos-latest
        python-version:
          - "3.6.7"
          - "3.7"
          - "3.8"
          - "3.9"
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - run: git clone https://github.com/python/typeshed.git && cd typeshed && git checkout 9af49c0
      - name: Build Environment
        run: |
          pip install poetry && poetry config virtualenvs.create false && poetry install
      - uses: pre-commit/action@v2.0.0
      - if: "!startsWith(matrix.os, 'win') || matrix.python-version < '3.8'"
        name: Test
        run: |
          pytest --cov-report=xml --cov=src -n=auto tests
      - if: "!startsWith(matrix.os, 'win') || matrix.python-version < '3.8'"
        name: Build Docs
        run: |
          pytest --nbmake -n=auto --jbconfig=docs/_config.yml docs && jb build -W -n --keep-going --builder html docs
      - if: "!startsWith(matrix.os, 'win') || matrix.python-version < '3.8'"
        uses: codecov/codecov-action@v1
        with:
          file: coverage.xml
      - name: GitHub Pages action
        if: github.ref == 'refs/heads/main' && startsWith(matrix.os, 'mac') && matrix.python-version == '3.8'
        uses: peaceiris/actions-gh-pages@v3.6.1
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./docs/_build/html
